:host {
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & > div {
      width: 100%;
    }
  }
}
::ng-deep {
  label {
    margin-bottom: initial;
  }
}
